body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#hero {
  width: 592px;
  margin: 0 auto 72px;
}

#hero img {
  margin-bottom: 72px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 49px;
  line-height: 56px;
}

h1 span {
  font-weight: bold;
}

span, a {
  color:#FF9900;
}

p {
  line-height: 28px;
  font-size: 14px;
  font-weight: normal;
  color: #7D7987;
}

#footer {
  line-height: 28px;
  font-size: 14px;
}

#footer a + a {
  margin-left: 28px;
}

#line {
  margin: 0 auto 8px;
  height: 0px;
  width: 568px;
  
  border: 1px #ECEFF2 solid;
}

#bolinhas {
  position: fixed;
  bottom: 0px;
  right: 0px;
}